@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Pangolin);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


html{
  scroll-behavior: smooth;
}
body{
    
    background-color: lightgoldenrodyellow;
    max-width: 1100px;
    margin:auto;
    
}

/* HEADER */
#pic-header{
    font-family: 'Pangolin';
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:30px;
    margin:50px;
}

#pic-header h1{
    font-size: 350%;
}
#pic-header h6{
    font-size: 20px;
    font-weight: 300;
    color:#C94249;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}
#menu a{
    font-family: 'Pangolin';
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #BCE4F0;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border-radius: 50px;
    
}
#menu a:hover{
    background-color:#739CD4 ;
    color: white;
}

/* BODY */



main{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
h2{
    text-align: center;
}

/* INFO */
#info{
  display:inline-flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding: 40px;
  background-color: #C1E1DC;
  overflow: hidden;
}
#about{
    width: 50%;
    padding-right: 30px;
}
#basic{
    width: 40%;
}
.info-table{
    text-align: left;
    border-width: 1px;
    border-style: dashed;
    padding: 10px;
    background-color: #FFCC98;
    font-weight: 300;
  }

  .basic-info{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: left;
    overflow-x:hidden;
}

.basic-id {
  padding-right:30px;
  font-weight: 700;
  width: 20%;
}

.basic-det {
  font-weight: normal;
}

p{
  text-align: justify;
}

.download{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}

.download a{
  color: black;
  background-color:burlywood;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  border-radius: 5px;
}

.download a:hover{
  background-color:#c79557 ;
  color: white;
}

 /* EDUCATION */
 #education{
     background-color: #FDAFAB;
     padding: 30px;
    
 }
 .edu-flex{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
  .edu-container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 40% 65%;
    padding: 20px;
  }
  
  .edu-id {
    background-color:#C94249;
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
  }

  .edu-id b{
      font-size: 25px;
  }

  
  .edu-desc {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: left;
  }
  .edu-desc i{
    font-size: 13px;;
  }

  #interest{
    padding: 30px;
  }
  .in-log{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    text-align: left;
    overflow-x:hidden;
    
}

.in-img{
  width: 200px;
}
.in-img img{
  padding-right:10px;
  padding-left: 50px;
  width: 40%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 3px 2px #222);
}

.in-title {
  font-weight: normal;
  width: 200px;
  padding-top: 5%;
}

#contact{
  background-color: #B6E3E9;
  padding: 30px;
  
}

#contact-form{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 30px;
  border: 2px dashed #739CD4;
}

#contact ul{
  list-style-type:none;
}

#contact li{
  display: inline;
}


input[type=text] {
  width: 70%;
  height: 25px;
}

input[type=submit] {
  padding: 5px;
  margin-right: 5px;
}

input[type=reset] {
  padding: 5px;
}

input[type=email] {
  width: 70%;
  height: 25px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 80%;
}

label{
  width: 150px;
  display: inline-block;
  font-weight: 400;
  padding: 7px;

}


footer{
  background-color: #739CD4;
  padding: 15px;
  font-family: 'Quicksand';
  text-align: center;
  color: black;
  
}
footer p{
  text-align: center;
}
footer a{
  background-color: darksalmon;
  padding: 7px;
 
  text-decoration: none;
  border-radius: 10px;;
}
footer a:hover{
  border: 1px solid rgb(240, 92, 58);
}
footer a:visited{
  color: black;
  text-decoration: none;
}

hr{
  border-top: 2px dashed white;
  border-bottom: none;
}